
<h1> Themen </h1>

<table >
<% @topics.each do |t| %>
  <tr style="border-bottom:1px solid black; padding-bottom:10px">
    <td valign="top">
      <div class="topic_title" style="margin-right:40px">
        <%= t.title %>
      </div>
    </td>
    <td valign="center">
      <div class="topic_menu" style="float:left; width=300px; margin-right:40px">
        <div class="topic_rating"> <%= link_to t.rating, topic_path(t.id) %> </div>
        <!--div class="topic_menu_item"> <%= link_to 'bewerten', topic_path(t.id)  %> </div-->
      </div>
    </td>
    <td valign="center">
      <div class="topic_content" style="float:left;">
        <%= t.body %>
      </div>
    </td>
    <hruler>
  </tr >
  
<% end %>

</table>
