
<h1> Themen </h1>

<table >
<% @topics.each do |t| %>
  <tr style="border-bottom:1px solid black; padding-bottom:40px; margin-bottom:40px">
    <td valign="top">
      <div class="topic_menu" style="float:left; min-height:40px; width=300px; margin-right:40px">
        <div class="topic_rating"> <%= t.rating %> </div>
        <!--div class="topic_menu_item"> <%= link_to 'bewerten', topic_path(t.id)  %> </div-->
      </div>
    </td>
    <td valign="top">
      <div class="topic_title" style="margin-right:40px">
        <% t.tags.each do |tag| %>
        [<%= link_to tag.title, topics_path(:filter => tag.title) %>] <br />
        <% end %>
      </div>
    </td>
    <td valign="center">
      <div class="topic_content" style="float:left;">
        <%= link_to t.body, topic_path(t.id) %>
      </div>
    </td>
    <hruler>
  </tr >
  
<% end %>

</table>
