
<h1> Thema <%= @topic.title %></h1>

<div id="topic_body">
  <%= @topic.body %>
</div>
<div id="new_comment">
  <h2> kommentieren: </h2> <br />
  <%= render :partial => 'comments/form' %>
</div>
<div id="all_comments">
  <% @comments.each do |c| %>
    <p>
      <%= c.body %>
    </p>
  <% end %>

</div>
